<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default"
		 connectionString="Data Source=QA-SC-DB;Initial Catalog=SurveyProvider;Trusted_Connection=Yes;"
		 providerName="System.Data.SqlClient"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
		 />
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="partnersurveys@soundphysicians.com"
            deliveryMethod="Network"
            xdt:Transform="Replace">
        <network host="SEAPROD2APP-1" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="PerformanceManagementEmail"
         xdt:Locator="Match(key)"
         xdt:Transform="Replace"
         value="genaro.guerrero@avantica.net" />
  </appSettings>

</configuration>
